body {
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: white;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-family: Helvetica, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #000000;
}

h3 {
  font-family: Helvetica, sans-serif;
  font-size: 23px;
  font-weight: bold;
  color: #000000;
}

h3.whiteHeader {
  background: url("../images/the-flatiron-building.png");
  background-size: cover;
  font-family: Helvetica, sans-serif;
  font-size: 23px;
  font-weight: bold;
  color: white;
}

p {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #000000;
}

.header {
  background: url("../images/the-flatiron-building.png");
  background-size: cover;
  text-align: center;
}

.footer {
  font-family: Helvetica, sans-serif;
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}

.btn-nav {
  font-size: 18px;
  color: white;
}
